.navi{
    background-color: rgb(112, 4, 120);
    color: rgb(239, 237, 237);
    border-radius: 20%;
    display: flex;
    justify-content: center;
}
#hi{
    background-color: rgb(112, 4, 120);
}

i{
    color:#dee2e7;
    
    
    
    
}